@import "vars";

/*
 * Basic
 */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 8px;
    min-height: 100vh;
    //font-family: "Inconsolata";
    font-family: 'Open Sans', sans-serif;
}

/*.flex-wrapper {
    //display: flex;
    //min-height: 100vh;
    //flex-direction: column;
    //justify-content: flex-start;
}*/

a {
    text-decoration: none;
    color: $accent;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.alignable {
    display: inline-block;
}

.pull-left {
    @extend .alignable;
    float: left;
}

.pull-right {
    @extend .alignable;
    float: right;
}

#social-media-icons {
    text-align: center;
    text-align-last: auto;

    img {
        padding: 5px;
        width: 24px;
        height: 24px;
    }

    /* Clear floats after image containers */
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

/* Divs */

main {
    min-height: 100%;
}

.container {
    max-width: $max-width;
    margin: auto;
}

/*#page-footer {
    margin-top: auto;
}*/

/* Institute Image */

.cryptedmail:after {
    content: attr(data-tld) " (tod) " attr(data-domain) " (ta)";
    unicode-bidi: bidi-override;
    direction: rtl;
}

#ins-logo {
    margin: auto;
    display: block;
    max-height: 100px;
    text-align: center;
}



/* Mobile */

@media (max-width: 800px) {
    .container {
        max-width: $med-width;
        transition: 0.3s ease all;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 83%;
    }
}

@media (max-width: 500px) {

    .pull-left,
    .pull-right {
        float: none;
    }

    #header-text {
        width: 100%;
        float: none;
    }

    .cryptedmail:after {
        content: attr(data-tld) "(tod)" attr(data-domain) "(ta)";
    }

    blockquote {
        text-align: left;
    }

    .references-container li {
        text-align: left;
    }
}

@import "typography";
@import "tables";
@import "nav";
@import "cv";