@import "vars";

.content {
    text-align: justify;
    text-align-last: none;

    a:hover {
        text-decoration: underline;
    }

    ol {
        counter-reset: list;
    }

    ol>li {
        list-style-position: none;
        position: relative;
        list-style: none;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    ul>li {
        margin: 5px 0 5px 0;
    }

    ul {
        padding: 0 20px 0 20px;
        ;
    }

    ol {
        padding: 0 30px 0 30px;
    }

    ol>li:before {
        content: "[" counter(list, decimal) "] ";
        counter-increment: list;
        position: absolute;
        left: -30px;
    }

    blockquote {
        border-left: 5px solid #333333;
        margin: 20px 0 20px 0;
        padding: 1px 8px 1px 8px;
        font-style: italic;
    }

    .profile-picture {
        height: $image-size;
        width: $image-size;
        position: relative;
        margin: -10px 0 0 15px;
        float: right;
        border-radius: 50%;

        p & {
            padding: 0;
            margin: 0;
        }

        @media (max-width: $small-width) {
            img {
                margin-top: -5px;
            }
        }
    }

    img {
        text-align: center;
        width: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Merriweather', serif;
        font-weight: 300;
        margin-top: 1rem;
        margin-bottom: .5rem;
    }

    .math {
        font-family: 'Merriweather', serif;
        font-weight: 300;
        font-style: italic;
    }
}

/*********
CV items are derived from
https://github.com/jglovier/resume-template
Copyright (c) 2015 Joel Glovier
published under the MIT license.
**********/
.cv-section-header {
    margin-bottom: 1rem !important;
    
    &:before {
        content: "";
        display: inline-block;
        width: 40px;
        height: .5rem;
        margin-right: 5px;
        background-color: $accent;
    }
}

.cv-entry {
    margin-bottom: 2rem;

    .cv-entry-title {
        margin: 0 0 .5rem;
        line-height: 1;
    }

    .cv-entry-subtitle {
        margin: 0 0 .75rem;
        line-height: 1;
    }

    .cv-entry-description {
        margin-top: 0;
    }
}
